# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Production
*.log

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma / DB
prisma/*.db
prisma/*.db-journal

# Exports
all-code.txt
*.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp